.ui-widget-header {
    
    background: #01f403!important;}
 .container1 .fa{
     font-size: 33px;
    color: #a5a5a5;
 }
     #custom-search-input .search-query {
  
    background: #d8d8d8;
    border-radius: 0;
    padding: 11px;
    min-height: 47px;}
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #01f403!important;
    background: #01f403!important;}