#maleprogress ,#femaleprogress {
      margin: 20px;
    width: 107px;
    height: 111px;
    position: relative;
}
 .small-box h3 {
    text-align: left;
    color: #5a5a5a;
    font-size: 22px;}
    .small-box p {
    text-align: left;
    color: #5a5a5a;
        font-size: 21px;
    }
 .ion{
         color: #01f403;
 }
 .bg-aqua , .bg-green{
         height: auto;
         border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(180, 180, 180, 0.16);
    background-color: #f7f8fa!important;
 }
 .cadd p{
      color: #767676;
 }
 .container1 .fa{
     font-size: 33px;
    color: #a5a5a5;
 }
     #custom-search-input .search-query {
  
    background: #d8d8d8;
    border-radius: 0;
    padding: 11px;
    min-height: 47px;}
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #01f403!important;
    background: #01f403!important;}