@media(min-width:756px){
    .mh-l{
            min-height: 445px;
    }
     .mh-m{
           min-height: 318px;
    }
     .mh-s{
          min-height: 105px;
    margin: 13px 0;
    }
}
    span{
            color: #9f9f9f;
            font-size:unset;
    font-weight: unset;
    }
     p{
         margin: auto;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    }
    hr {
    margin-top: 11px;
    margin-bottom: 11px;}
    .limg{
        border-radius: 50%;
    width: 100%;
    max-width: 150px;
    margin: auto;
    display: block;
    }
     .simg{
      border-radius: 50%;
    width: 100%;
    max-width: 83px;
    padding: 10px;
    }
    .thead-dark {
    border: solid 1px #cfcfcf;
    background-color: #e8e8e8;}
    .btn-blocked{
        float: right;
    background: #fff;
    border: 2px solid #ff0000;
    color: #ff0000;
    padding: 4px 11px;
    border-radius: 14px;
    }
    